<!DOCTYPE html>
<html>
  <head>
    <title>Artists</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>About</h1>
    <p>This will be the landing page</p>
  </body>
</html>
