{{>header}}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {{> menu}}
          <h2>Trending</h2>

            {{# songs}}
            <div class="media">
              <a class="media-left pull-left" href="#">
                <img class="img img-circle" src="images/placeholder.gif">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="song/{{_id}}"> {{title}} - {{artist.name}}</a></h4>
                <p>Produced by</p>

              </div>
            </div>
            <br>

            {{/songs}}

        </div>
    </div>
  </div>
{{>footer}}
