<!DOCTYPE html>
<html>
  <head>
    <title>Producer Gems</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Producer Gems</h1>
    {{> menu}}
    <h3>Trending</h3>
    <ul>
      {{# songs}}
        <li><a href="song/{{_id}}">({{upvotes}}) {{title}} - {{artist.name}}</a></li>
      {{/songs}}
    </ul>
  </body>
  {{> footer}}
</html>
