{{>header}}
{{>menu}}
<div class="container">
  <div class="col-xs-12">
      <h3>Submissions</h3>
      	<ul>
      	{{#submissions}}
      		<li>{{artist.name}} - {{title}} - <a>Update</a> <a href="/song/delete/{{id}}">Delete</a></li>
      	{{/submissions}}
      	</ul>
      <h3>Comments</h3>
      <h3>Upvotes</h3>
    </ul>
  </div>
</div>
{{>footer}}
