{{>header}}
{{>menu}}
  <div class="fluid-container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h1> Browse by artists </h1>
          <h4 class="text-muted"> Find answers from the community of producers and DJs</h4>
        </div>
        <br>
        <br>
        <nav>
          <ul class="nav nav-pills nav-justified">
            <li class="active"><a href="#">Best</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Most Discussed</a></li>
          </ul>
        </nav>
        <br>
        <br>
        {{#artists}}
        <div class="media">
          <a class="media-left pull-left" href="#">
            <img class="img img-circle" src="images/artists/thumb_{{id}}.jpg">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="artist/{{_id}}"> {{name}}</a></h4>
          </div>
        </div>
        <br>
        {{/artists}}
      </div>
    </div>
  </div>
{{>footer}}
